<div class="mt-5 mb-5 flex flex-col sm:flex-row justify-between -mx-2 flex-wrap">
	
	<!-- card -->
	<div class="rounded px-2 w-full pt-4 sm:w-1/2 md:w-1/2 lg:w-1/4 lg:pt-0">
		<div class="relative bg-red-500 pb-48 rounded-t">
			<img src="https://images.unsplash.com/photo-1573995012741-eb49887f8732?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=320&q=100"
				alt="Hawaii, USA"
				class="absolute top-0 h-full w-full object-cover rounded-t"
				loading="lazy"
			>
		</div>
		<div class="bg-white px-3 py-3 rounded-b shadow-lg">
			<h3 class="text-xl">Hawaii</h3>
			<div class="flex justify-between text-gray-500">
				<div>
					<p class="text-sm">16 Oct - 23 Oct</p>
					<p class="text-sm">3* Hotel</p>
				</div>
				<div class="flex items-end text-gray-500 text-right text-xs">
					<p>Only <span class="font-thin text-3xl text-orange-500">$99</span></p>
				</div>	
			</div>
			
		</div>
	</div>
	<!--/ card -->
	
	<!-- card -->
	<div class="rounded px-2 w-full pt-4 sm:w-1/2 md:w-1/2 lg:w-1/4 lg:pt-0">
		<div class="relative bg-red-500 pb-48 rounded-t">
			<img src="https://images.unsplash.com/photo-1558117338-aa433feb1c62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=360&q=100"
				alt="Hawaii, USA"
				class="absolute top-0 h-full w-full object-cover rounded-t"
				loading="lazy"
			>
		</div>
		<div class="bg-white px-3 py-3 rounded-b shadow-lg">
			<h3 class="text-xl">Aruba</h3>
			<div class="flex justify-between text-gray-500">
				<div>
					<p class="text-sm">10 Nov. - 24 Nov.</p>
					<p class="text-sm">4* Hotel</p>
				</div>
				<div class="flex items-end text-gray-500 text-right text-xs">
					<p>Only <span class="font-thin text-3xl text-orange-500">$199</span></p>
				</div>	
			</div>
			
		</div>
	</div>
	<!--/ card -->
	
	
	<!-- card -->
	<div class="rounded px-2 w-full pt-4 sm:mt-0 sm:w-1/2 md:w-1/2 lg:w-1/4 lg:pt-0">
		<div class="relative bg-red-500 pb-48 rounded-t">
			<img src="https://images.unsplash.com/photo-1545591853-dd70186241e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=360&q=100"
				alt="Cancun, Mexico"
				class="absolute top-0 h-full w-full object-cover rounded-t"
				loading="lazy"
			>
		</div>
		<div class="bg-white px-3 py-3 rounded-b shadow-lg">
			<h3 class="text-xl">Mexico</h3>
			<div class="flex justify-between text-gray-500">
				<div>
					<p class="text-sm">10 Nov. - 24 Nov.</p>
					<p class="text-sm">4* Hotel</p>
				</div>
				<div class="flex items-end text-gray-500 text-right text-xs">
					<p>Only <span class="font-thin text-3xl text-orange-500">$299</span></p>
				</div>	
			</div>
			
		</div>
	</div>
	<!--/ card -->
	
	
	<!-- card -->
	<div class="rounded px-2 w-full pt-4 sm:w-1/2 md:w-1/2 lg:w-1/4 lg:pt-0">
		<div class="relative bg-red-500 pb-48 rounded-t">
			<img src="https://images.unsplash.com/photo-1533094692971-5f4c56ec1339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=360&q=100"
				alt="Hawaii, USA"
				class="absolute top-0 h-full w-full object-cover rounded-t"
				loading="lazy"
			>
		</div>
		<div class="bg-white px-3 py-3 rounded-b shadow-lg">
			<h3 class="text-xl">Canada</h3>
			<div class="flex justify-between text-gray-500">
				<div>
					<p class="text-sm">10 Nov. - 24 Nov.</p>
					<p class="text-sm">4* Hotel</p>
				</div>
				<div class="flex items-end text-gray-500 text-right text-xs">
					<p>Only <span class="font-thin text-3xl text-orange-500">$99</span></p>
				</div>	
			</div>
			
		</div>
	</div>
	<!--/ card -->
	
	
</div>